includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 5
	paths:
		- app
		- tests
	excludePaths:
		- vendor
		- tests/fixtures
	bootstrapFiles:
		- tests/bootstrap.php
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			identifier: missingType.generics
		-
			identifier: missingType.iterableValue
		# Allow simple dynamic properties in examples during v0.1
		- '#Access to an undefined property .*#'
